// Google Fonr
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Variable css
:root{
    --header-height:3rem;
    // Colors
    --white:#fff;
    --black:#000;
    --main-color:#06b2b6;


    --scroll-bar-color: hsl(var(--hue), 4%, 85%);
    --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
    

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --text-font:'SourceSansPro'

}